html,
body.signin,
body.signup,
body.logout {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body.signin {
  background-image: url("../images/Lamborghini_New_Sian_Roadster.jpg");
}

body.signup {
  background-image: url("../images/Lamborghini-Aventador.jpg");
}

body.logout {
  background-image: url("../images/white-car.jpg");
}

.container {
  height: 80%;
  align-content: center;
}

.card {
  /* height: 370px; */
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.text-red {
  color: red;
  font-weight: bold;
}

.announcement {
  margin-top: 40px;
  border-style: solid;
  padding: 10px 10px;
  width: 500px;
  color: #910808;
  /* margin-left: 300px; */
  border-color: #d3d3e6;
  background-color: rgb(246 252 250);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
}
